:root {
  --background: #ffffff;
  --foreground: #171717;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  cursor: pointer;
}
::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #5f9ea0;
  height: 80px;
}
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: #5acdd1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
  }
}

@layer utilities {
  ._full {
    width: 100%;
    height: 100%;
  }

  ._center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  ._ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .children_container > * {
    width: 100%;
    height: 100%;
  }

  .disable-hover * {
    pointer-events: none;
  }
}

@import "tailwindcss";